

.flashcard {
    text-align: center;
    font-weight: bold;
    background-color: aqua;

}

.deck{
    text-align: center;
    font-weight: bolder;
    background-color: blanchedalmond;
}

.creator{
    text-align: justify;
}

